{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "" %}{% endblock %}

{% block content %}
<div class='w-75 m-auto'>
    <h1 class='fs-1 text-success'>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class='text-danger'>{% trans "Forgotten your password?"%}</p>
    <p>{% trans " Enter your e-mail address below for further instructions"%}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class='btn btn-success' value="{% trans 'Reset My Password' %}" />
    </form>

    <p>{% blocktrans %}{% endblocktrans %}</p>

</div>
{% endblock %}