{% extends 'base.html' %}

{% block title %}Detail{% endblock title %}

{% block content %}

<div class="jumbotron w-75 m-auto mt-5">
    <h1 class="display-4">{{object.title}}</h1>
    <p>Author - {{object.author}}</p>
    <p>Price - ${{object.price}}</p>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p class="lead">
      <a class="btn btn-success btn-lg" href="#" role="button">Buy Now</a>
    </p>
</div>
<section style="background-color: #ad655f;">
  <div class="container my-5 py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="card text-dark">
          <div class="card-body p-4">
            <h4 class="mb-0">Recent comments</h4>
            <p class="fw-light mb-4 pb-2">Latest Comments section by users</p>
          <div class="card-body p-4">
            <div class="d-flex flex-start">
                <div>
                {% for review in object.reviews.all  %}
                <h6 class="fw-bold fs-5  mb-1">{{review.author}}</h6>
                <div class="d-flex align-items-center mb-3">
                  <p class="mb-0 fw-light">
                    {{review.date}}
                  </p>
                </div>
                <p class="mb-0 mb-5 fs-4 fw-light">{{review.review}}</p>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}